@model IEnumerable<CalculatorSalarii.Models.Angajat>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VenitBrut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsServiciuDeBaza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NrPersoaneInIntretinere)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VenitBrut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsServiciuDeBaza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NrPersoaneInIntretinere)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
